$component-name: 'l-main';

.#{$component-name} {
  @include flexColumnGap(8rem);
  position: relative;

  color: var(--color-white);
  background-color: var(--color-main-background);

  text-align: center;
  padding: 0 0 19rem 0;

  .background {
    display: flex;
    justify-content: center;
    background-color: var(--color-int-sign-background);
    // background-image: url(../../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100%;
    background-image: url(../../images/bg-curvy-desktop.svg);
    @include breakpoint(768px) {
      background-position-y: 115%;
    }
  }

  &__header {
    align-self: center;
    padding: 0 2.3rem;

    @include breakpoint(768px) {
      width: 40%;
      margin: 0 7rem;
      
    }

    figure {
      @include flexColumnGap(1.5rem);
      margin-bottom: 1.5rem;
    }

    &_illustration {
      width: 100%;
      align-self: center;
      margin-bottom: 1rem;
    }
    &_main-title {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
    }
    .c-button {
      width: 80%;
      @include breakpoint(768px) {
        width: 50%;
      }
    }

  }

  &__informations {
    margin: 0 2.3rem;

    @include flexColumnGap(6rem);
    @include breakpoint(768px) {
      display: grid;
      flex-direction: row;
      grid-template-columns: 1fr 1fr;
      align-self: center;
      width: 60%;
    }

    figure {
      @include flexColumnGap(0.5rem);
    }

    &_illustration {
      align-self: center;
      margin-bottom: 1.5rem;
    }
    &_main-title {
      font-weight: 700;
      font-family: 'Raleway', sans-serif;
    }
    
  }

  &__productive {
    text-align: left;
    margin: 0 2.3rem;

    figure {
      @include flexColumnGap(1rem);
      @include breakpoint(768px) {
        flex-direction: row;
        figcaption {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
    }

    &_illustration {
      width: 100%;
      align-self: center;
      margin-bottom: 1.5rem;
      @include breakpoint(768px) {
        width: 40%;
      }
    }

    &_main-title {
      font-weight: 700;
      font-family: 'Raleway', sans-serif;
    }
    &_subtitle {
      @include flexColumnGap(1rem);
      &:last-child {
        margin-bottom: 1rem;
      }
    }
    &_link {
      text-decoration: none;
      color: var(--color-cyan-gradient);
      border-bottom: 2px solid var(--color-cyan-gradient);
      padding-bottom: 6px;
      
      .c-arrow {
        align-self: center;
      }
    }
  }

  &__cards {
    margin: 0 2.3rem;
    @include flexColumnGap(2rem);
    @include breakpoint(768px) {
      flex-direction: row;
    }

    &_card {
      @include flexColumnGap(14px);

      text-align: left;
      padding: 1.5rem 1rem;
      
      border-radius: 6px;
      background-color: var(--color-testimonials-background);

      .c-main-title {
        font-weight: 400;
        font-size: 12px;
      }
    }
  }

  &__early-acess {
    @include flexColumnGap(1rem);
    @include breakpoint(768px) {
      width: 60%;
      padding: 2rem 3rem;
    }
    width: 90%;
    padding: 2rem 1.5rem;
    position: absolute;
    bottom: -5%;
    left: 50%;
    border-radius: 6px;
    background-color: var(--color-main-background);
    box-shadow: 2px 1px 2px 1px black;
    transform: translateX(-50%) translateY(-5%);

    .c-title {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 1rem;
      @include breakpoint(768px) {
        flex-direction: row;
      }
    }

    input {
      width: 100%;
      padding: 1rem;
      border: none;
      border-radius: 50px;
      background-color: var(--color-white);
      padding-left: 2rem;
    }

    .c-button {
      @include breakpoint(768px) {
        width: 40%;
      }
    }
  }

}