* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.c-container {
  position: relative;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-image_hero {
  width: 100%;
}

.c-header {
  width: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 9rem;
}

.c-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.c-header div a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.c-main {
  position: absolute;
  top: 80%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.c-main .c-section-footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-main .c-section-footer .c-btn {
  padding: 0 2rem;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #3cb4ac;
}

.c-main .c-section-title {
  position: relative;
  text-align: center;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 1px #147b74;
          box-shadow: 0px 1px 1px #147b74;
  padding: 2rem;
  background-color: white;
}

.c-main .c-section-title .c-main-logo {
  position: absolute;
  left: 50%;
  top: -20%;
  -webkit-transform: translateX(-50%) translateY(25%);
          transform: translateX(-50%) translateY(25%);
}

.c-main .c-section-title .c-section-title__subtitle {
  margin: 12px;
  margin-bottom: 2rem;
}

.c-main .c-section-title .c-bookmark-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
}

.c-main .c-section-title .c-bookmark-box button {
  width: 100%;
  background: none;
  padding: 8px 14px;
  border: none;
  border-radius: 0 30px 30px 0;
}

.c-main .c-section-info {
  padding: 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 1px #147b74;
          box-shadow: 0px 1px 1px #147b74;
}

.c-main .c-section-info .c-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.c-main .c-section-info .c-info-box .c-info-box__box {
  padding-right: 2rem;
}

.c-main .c-section-info .c-info-box .c-info-box__box .c-info-box__title {
  color: black;
  font-size: 1.7rem;
}

.c-main .c-section-info .c-info-box .c-info-box__box .c-info-box__subtitle {
  color: #7a7a7a;
  font-size: 16px;
}

.c-main .c-section-info .c-info-box .c-info-box__box:not(:first-child) {
  padding-left: 2rem;
  padding-right: 5rem;
  border-left: 1px solid grey;
}

.c-main .c-section-info progress {
  width: 100%;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
}

.c-main .c-section-about {
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 1px #147b74;
          box-shadow: 0px 1px 1px #147b74;
  margin-bottom: 20%;
  padding: 2rem;
}

.c-main .c-section-about .c-about__title {
  color: black;
  font-size: 20px;
}

.c-main .c-section-about .c-about__subtitle {
  color: #7a7a7a;
  font-size: 16px;
  margin: 2rem 0;
}

.c-main .c-section-about .c-stands-box {
  -webkit-box-shadow: 0 0px 0px 1px #147b74;
          box-shadow: 0 0px 0px 1px #147b74;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 4px;
}

.c-main .c-section-about .c-stands-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-main .c-section-about .c-stands-box div .c-stands__description {
  color: #7a7a7a;
}

.c-main .c-section-about .c-stands-box div .c-stands__description h2 {
  font-size: 32px;
  color: black;
  margin-right: 8px;
}

.c-main .c-section-about .c-stands-box .c-stands__title {
  color: black;
  font-size: 20px;
}

.c-main .c-section-about .c-stands-box .c-stands__price {
  color: #3cb4ac;
  font-size: 16px;
}

.c-main .c-section-about .c-stands-box .c-stands__subtitle {
  color: #7a7a7a;
  font-size: 16px;
  margin: 1rem 0;
  margin-bottom: 1.3rem;
}

.c-main .c-section-about .c-stands-box .c-stands__btn {
  padding: 12px 1.3rem;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #3cb4ac;
}
/*# sourceMappingURL=main.css.map */