:root {

   --color-orange: hsl(31, 77%, 52%);
   --color-dark-cyan: hsl(184, 100%, 22%);
   --color-very-dark-cyan: hsl(179, 100%, 13%);

   --color-paragraphs: hsla(0, 0%, 100%, 0.75);
   --color-background-headings-buttons: hsl(0, 0%, 95%);

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lexend Deca', sans-serif;
   font-weight: 400;
}

.container {

   display: flex;
   justify-content: center;
   align-items: center;

   width: 100vw;
   height: 98vh;

   background-color: var(--color-background-headings-buttons);

}

._card {

   display: grid;
   grid-template-areas: 'first' 'second' 'third';
   grid-template-columns: 1fr 1fr 1fr;

   width: 900px;

}

._first_box {

   grid-area: 'first';

   border-radius: 10px 0px 0px 10px;

   background-color: var(--color-orange);

}

._second_box {

   grid-area: 'second';

   background-color: var(--color-dark-cyan);

}

._third_box {

   grid-area: 'third';

   border-radius: 0px 10px 10px 0px;

   background-color: var(--color-very-dark-cyan);

}

._info_box {

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;

   padding: 45px;

}

._info_title {

   font-family: 'Big Shoulders Display', cursive;
   font-weight: 700;

   text-transform: uppercase;

   padding: 32px 0px;

   color: var(--color-background-headings-buttons);

}

._info_subtitle {

   margin-bottom: 82px;

   font-size: 15px;

   color: var(--color-paragraphs);

}

._final_btn {

   padding: 12px 28px;

   border: 2px solid;
   border-color: var(--color-paragraphs);
   border-radius: 50px;

   background-color: var(--color-background-headings-buttons);

}

._first_box > ._info_box > ._final_btn {
   color: var(--color-orange);
}
._first_box > ._info_box > ._final_btn:hover {
   color: var(--color-paragraphs);
}

._second_box > ._info_box > ._final_btn {
   color: var(--color-dark-cyan);
}
._second_box>._info_box>._final_btn:hover {
   color: var(--color-paragraphs);
}

._third_box > ._info_box > ._final_btn {
   color: var(--color-very-dark-cyan);
}
._third_box > ._info_box > ._final_btn:hover {
   color: var(--color-paragraphs);
}

._final_btn:hover {
   background: none;
}

@media only screen and (max-width: 900px){
   .container {
      height: 100%;
   }
   
   ._card {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      width: 375px;
      
      padding: 32px 0px;
   }

   ._info_subtitle {
      margin-bottom: 24px;
   }

   ._first_box {
      border-radius: 10px 10px 0px 0px;
   }

   ._third_box {
      border-radius: 0px 0px 10px 10px;
   }
}