@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
   --almost-white: hsl(0, 0%, 98%);
   --medium-gray: hsl(0, 0%, 41%);
   --almost-black: hsl(0, 0%, 8%);
}

* {
   margin: 0;
   padding: 0;
   font-family: 'Epilogue', sans-serif;
   font-weight: 500;
}

body {
   display: grid;
   place-items: center;

   background-color: wheat;
}

.card {
   width: 1440px;

   background-color: var(--almost-white);
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin: 18px 32px;
}
header div {
   display: flex;
}

.c-dropdown {
   display: flex;
   list-style-type: none;
}

.c-dropdown__item {
   position: relative;
   margin: 0 12px;

   cursor: pointer;
}
.c-dropdown__item:first-child {
   margin-left: 2rem;
}

.c-dropdown__submenu {
   position: absolute;
   list-style: none;
   left: 50%;
   transform: translateX(-50%) rotateX(-90deg);
}
.c-dropdown__item:hover .c-dropdown__submenu {
   transform: translateX(-50%) rotateX(0);
}

.c-dropdown__submenu-item {
   list-style-type: none;
}

.c-dropdown__submenu-link {
   

}

.c-header__btn {
   background: none;
   padding: 8px 12px;

   border: 2px solid var(--almost-black);
   border-radius: 12px;
   cursor: pointer;
}
.c-header__btn:first-child {
   border: none;
   margin-right: 24px;
}


main {
   display: flex;
   justify-content: space-around;

   padding: 3rem 7rem;
   padding-bottom: 5rem;
}

.c-content {
   display: grid;
   grid-template-rows: 1fr 0.1fr;
   padding-right: 9rem;
}

.c-content__box {
   align-self: center;
}

.c-content__title {
   font-size: 4rem;
   font-weight: 700;
}

.c-content__subtitle {
   font-size: 18px;
   margin: 32px 0px;
}

.c-content__btn {
   padding: 12px 18px;
   color: var(--almost-white);
   background-color: var(--almost-black);

   border: 2px solid var(--almost-black);
   border-radius: 12px;
   cursor: pointer;
}

.c-content__ads {
   display: flex;
   align-items: flex-end;
   width: 100px;
}

main img {
   width: 550px;
}