
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);


* {
   margin: 0;
   padding: 0;
   font-family: 'Epilogue', sans-serif;
   font-weight: 500;
   color: $medium-gray;
}

body {
   display: grid;
   place-items: center;
   height: 100vh;

   background-color: black;
}

.card {
   width: 1440px;

   background-color: $almost-white;
}

.u-first-submenu {
   right: 0;
}

.u-color-black {
   color: $almost-black ;
}

.u-visible {
   display: block !important;
}

.attribution {
   font-size: 11px;
   text-align: center;
   a {
      color: hsl(228, 45%, 44%);
   }
}

@media screen and (max-width: 1440px) {

   .card {
      position: relative;
      width: auto;
   }

   header {
      margin: 24px 18px;
   }

   main {
      flex-direction: column-reverse;
      align-items: center;

      padding: 0;
      padding-bottom: 6rem;
   }

   .c-content {
      display: flex;
      flex-direction: column;
      align-items:center;

      padding: 0 1rem;
   }

   .c-content__box {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .c-content__title {
      font-size: 2rem;
   }

   .c-content__subtitle {
      margin: 1rem 0;
      text-align: center;
   }

   .c-content__btn {
      margin-top: 0.5rem;
      margin-bottom: 2.5rem;
   }

   .c-image {
      display: none;
   }
   .c-mobile-image {
      display: block !important;
      margin: 1rem 0;
   }

   .c-btn-box {
      display: none;
   }

   .c-content__ads {
      gap: 1rem;
   }

   .c-menu-icon {
      display: block !important;
      cursor: pointer;
      z-index: 1;
   }

   .c-dropdown {
      flex-direction: column;
      padding-left: 1rem;
      margin-top: 4rem;

      .c-dropdown__item {
         margin: 0;
         margin-bottom: 1rem;

         &:first-child {
            margin: 0;
            margin-bottom: 1rem;         
         }
         .c-dropdown__submenu {
            position: unset;
            border: none;
            box-shadow: none;

            .c-dropdown__submenu-item {
               margin: 0;
            }
         }
      }
   }

   .c-side-bar {  
      display: none;
      position: absolute;
      right: 0;
      top: 0;

      height: 100%;
      width: 18rem;

      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
      background-color: $almost-white;
   }
}