* {
   margin: 0;
   padding: 0;
   font-family: 'Epilogue', sans-serif;
   font-weight: 500;
   color: $medium-gray;
}

body {
   display: grid;
   place-items: center;
   height: 100vh;

   background-color: black;
}

.card {
   width: 1440px;

   background-color: $almost-white;
}

.u-first-submenu {
   right: 0;
}

.u-color-black {
   color: $almost-black ;
}

.u-visible {
   display: block !important;
}

.attribution {
   font-size: 11px;
   text-align: center;
   a {
      color: hsl(228, 45%, 44%);
   }
}