header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin: 18px 32px;

   div {
      display: flex;
   }

   .c-menu-icon {
      display: none;
   }
}

.c-dropdown {
   display: flex;
   list-style-type: none;

   .c-dropdown__item {
      position: relative;
      margin: 0 12px;

      &:first-child {
         margin-left: 2rem;
      }
   }
}

.c-dropdown__link {
   text-decoration: none;
   cursor: pointer;

   &:hover {
      color: $almost-black;
   }
}

.c-dropdown__submenu {
   display: none;
   width: 120px;
   position: absolute;
   list-style: none;
   top: calc(100% + 1rem);

   box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
   padding: 1.5rem;
   border-radius: 14px;

   .c-dropdown__submenu-item {
      list-style-type: none;

      &:not(:last-child) {
         margin-bottom: 12px;
      }

      .c-dropdown__submenu-link {
         text-decoration: none;

         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.c-header__btn {
   background: none;
   padding: 12px 18px;

   border: 2px solid $almost-black;
   border-radius: 12px;
   cursor: pointer;

   &:first-child {
      border: none;
      margin-right: 1.5rem;
   }
}