@import '_base.scss';
@import '_header.scss';
@import '_content.scss';

@media screen and (max-width: 1440px) {

   .card {
      position: relative;
      width: auto;
      height: 98vh;
   }

   header {
      margin: 24px 18px;

      .c-menu-icon {
         display: block;
         cursor: pointer;
      }
   }

   main {
      flex-direction: column-reverse;
      align-items: center;

      padding: 0;
      padding-bottom: 0rem;

      .c-content {
         display: flex;
         flex-direction: column;
         align-items:center;
         padding: 0 1rem;

         .c-content__box {
            display: flex;
            flex-direction: column;
            align-items: center;

            .c-content__title {
               font-size: 2rem;
            }
            .c-content__subtitle {
               margin: 1rem 0;
               text-align: center;
            }
            .c-content__btn {
               margin-top: 0.5rem;
               margin-bottom: 2.5rem;
            }
         }
      }
   }

   .c-image {
      display: none;
   }
   .c-mobile-image {
      display: block;
      margin: 1rem 0;
   }

   .c-btn-box {
      display: none;
   }

   .c-content__ads {
      gap: 1rem;
   }

   .c-dropdown {
      flex-direction: column;
      padding-left: 1rem;
      margin-top: 4rem;

      .c-dropdown__item {
         margin: 0;
         margin-bottom: 1rem;

         &:first-child {
            margin: 0;
            margin-bottom: 1rem;         
         }
         .c-dropdown__submenu {
            position: unset;
            border: none;
            box-shadow: none;
            padding-bottom: 0;

            .c-dropdown__submenu-item {
               margin: 0;
               margin-bottom: 0.5rem;
            }
         }
      }
   }

   .c-side-bar {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
   
      height: 100%;
      width: 18rem;
   
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
      background-color: $almost-white;
   }
}