footer {
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;

   padding: 3rem 0;
   background-color: $grayishblue;

   .c-footer__logo {
      fill: $darkmoderatecyan-footer;
   }

   .c-footer__opt {
      display: flex;
      gap: 2rem;

      a {
         color: $darkmoderatecyan-footer;
         text-decoration: none;
      }
   }

   .c-footer__medias {
      display: flex;
      gap: 1rem;

      padding-top: 2rem;
   }
}