main {
   width: 100%;

   display: grid;
   grid-template-areas:
      'transform'
      'stand'
      'designph'
      'client'
      'illustrations';

   .c-section {
      display: flex;
      justify-content: space-between;

      .c-transform_box {
         @include sectionWithImage;
         padding: 8rem 9rem 10rem 8rem;
      }

      .c-stand_box {
         @include sectionWithImage;
         padding: 8rem 11rem 10em 6rem;
      }

      img { width: 50% }

      .c-section_box {
         position: relative;
         width: 50%;

         img { width: 100% }
      }

      .c-title_box {
         position: absolute;
         top: 65%;
         text-align: center;

         padding: 0 7rem;

         h1 {
            font-family: 'Fraunces', serif;
            font-weight: 900;
         }

         p {
            padding-top: 1.7rem;
            font-size: 18px;
         }
      }

      .design {

         h1,
         p {
            color: $darkdesaturatedcyan-graphicdesign-text;
         }
      }

      .photo {

         h1,
         p {
            color: $darkblue-photography-text;
         }
      }

      .c-mobile_illustrations { display: none }

      .transform { grid-area: transform }
      .stand { grid-area: stand }
      .designph { grid-area: designph }
      .client { grid-area: client }
      .illustrations { grid-area: illustrations }
   }

   .c-client_section {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      text-align: center;
      padding: 8rem 6rem;

      h1 {
         color: $grayishblue;

         font-family: 'Fraunces', serif;
         font-weight: 700;
         letter-spacing: 4px;
      }

      .c-client__box {
         display: flex;

         .c-client {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            padding: 0 4rem;

            img {
               width: 75px;
               border-radius: 50%;
            }

            h2 {
               color: $verydarkdesaturatedblue;
               font-size: 1.2rem;
               font-family: 'Fraunces', serif;
               font-weight: 900;

               padding-bottom: 12px;
            }

            p {
               color: $darkgrayishblue;
               font-size: 18px;
            }

            div p { color: $grayishblue }
         }
      }
   }
}