* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lexend Deca', sans-serif;
   font-weight: 400;
}

.c-container {
   width: 100vw;
   height: 98vh;

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: $color-background-headings-buttons;
}