* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

.c-container {
  width: 100vw;
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.c-card {
  width: 900px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.c-card .c-first_box {
  border-radius: 10px 0px 0px 10px;
  background-color: #e38826;
}

.c-card .c-first_box .c-info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 45px;
}

.c-card .c-first_box .c-info_box .c-info_title {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  padding: 32px 0px;
  text-transform: uppercase;
  color: #f2f2f2;
}

.c-card .c-first_box .c-info_box .c-info_subtitle {
  margin-bottom: 82px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
}

.c-card .c-first_box .c-info_box .c-btn {
  padding: 12px 28px;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #e38826;
}

.c-card .c-first_box .c-info_box .c-btn:hover {
  background: none;
}

.c-card .c-first_box .c-info_box .c-btn:hover {
  color: rgba(255, 255, 255, 0.75);
}

.c-card .c-second_box {
  background-color: #006970;
}

.c-card .c-second_box .c-info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 45px;
}

.c-card .c-second_box .c-info_box .c-info_title {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  padding: 32px 0px;
  text-transform: uppercase;
  color: #f2f2f2;
}

.c-card .c-second_box .c-info_box .c-info_subtitle {
  margin-bottom: 82px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
}

.c-card .c-second_box .c-info_box .c-btn {
  padding: 12px 28px;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #006970;
}

.c-card .c-second_box .c-info_box .c-btn:hover {
  background: none;
}

.c-card .c-second_box .c-info_box .c-btn:hover {
  color: rgba(255, 255, 255, 0.75);
}

.c-card .c-third_box {
  border-radius: 0px 10px 10px 0px;
  background-color: #004241;
}

.c-card .c-third_box .c-info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 45px;
}

.c-card .c-third_box .c-info_box .c-info_title {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  padding: 32px 0px;
  text-transform: uppercase;
  color: #f2f2f2;
}

.c-card .c-third_box .c-info_box .c-info_subtitle {
  margin-bottom: 82px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
}

.c-card .c-third_box .c-info_box .c-btn {
  padding: 12px 28px;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #004241;
}

.c-card .c-third_box .c-info_box .c-btn:hover {
  background: none;
}

.c-card .c-third_box .c-info_box .c-btn:hover {
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 900px) {
  .c-container {
    height: 100%;
  }
  .c-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    width: 375px;
    padding: 32px 0px;
  }
  .c-card .c-first_box {
    border-radius: 10px 10px 0px 0px;
  }
  .c-card .c-info_subtitle {
    margin-bottom: 24px;
  }
  .c-card .c-third_box {
    border-radius: 0px 0px 10px 10px;
  }
}
/*# sourceMappingURL=main.css.map */