@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {

   --color-soft_blue: hsl(215, 51%, 70%);
   --color-cyan: hsl(178, 100%, 50%, 0.5);

   --color-very_dark_blue: hsl(215, 32%, 27%);
   --color-white: hsl(0, 0%, 100%);

}

* {

   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: 'Outfit', sans-serif;
   font-weight: 300;

   color: var(--color-soft_blue);
   
}

.container {

   width: 100vw;
   height: 98vh;

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: hsl(217, 54%, 11%);

}

._card {

   width: 400px;

   padding: 24px;

   border-radius: 18px;

   background-color: hsl(216, 50%, 16%);

   box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);

}

._card__image {

   position: relative;

   overflow: hidden;

   border-radius: 12px;
   
   cursor: pointer;

}

._image__pic {

   display: block;

   width: 100%;

}

._image__hover {

   height: 100%;
   width: 100%;

   position: absolute;
   top: 0;
   left: 0;

   display: none;

   background-color: var(--color-cyan);

}

._card__image:hover ._image__hover {
   display: block;
}

._image__eye {

   width: 50px;

   position: absolute;
   left: 50%;
   top: 50%;

   transform: translate(-50%, -50%);

}

._info__name {

   display: inline-block;

   font-size: 24px;
   font-weight: 700;

   margin: 18px 0px;

   color: var(--color-white);

}

._info__name:hover {
   color: var(--color-soft_blue);
   
   cursor: pointer;
}

._info__subtitle {
   font-size: 18px;
}

._info__description {

   display:flex;
   justify-content: space-between;

   margin: 24px 0px;

}

._description__eth_box {

   display: flex;
   align-items: center;

   gap: 4px;

}

._eth_box__amount {
   padding-left: 4px;
   font-weight: 700;

}

._description__time_box {

   display: flex;
   align-items: center;

   gap: 4px;

}

._info__creator {

   display: flex;
   align-items: center;

   border-top: 2.5px solid var(--color-very_dark_blue);

   padding-top: 18px;

}

._creator__image {

   width: 35px;

   border: 1px solid white;
   border-radius: 50%;

}

._creator__name {

   margin-left: 12px;

}

._creator__name span {
   color: var(--color-white);
   font-weight: 400;

   cursor: pointer;
}